{
  "openapi": "3.1.0",
  "info": {
    "title": "User Management API",
    "version": "1.0.0",
    "description": "API para gerenciamento de usuários com autenticação JWT.",
    "contact": {
      "name": "Gabriel Lima",
      "email": "gabriel@email.com"
    }
  },
  "servers": [
    { "url": "https://api.exemplo.com/v1", "description": "Produção" },
    { "url": "https://staging-api.exemplo.com/v1", "description": "Staging" },
    { "url": "http://localhost:3000/v1", "description": "Local" }
  ],
  "tags": [
    { "name": "Auth", "description": "Autenticação e tokens" },
    { "name": "Users", "description": "Gerenciamento de usuários" }
  ],
  "security": [
    { "bearerAuth": [] }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": ["Auth"],
        "summary": "Login",
        "description": "Autentica o usuário e retorna um token JWT.",
        "security": [],
        "operationId": "login",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LoginInput" },
              "example": {
                "email": "gabriel@email.com",
                "password": "senha123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login realizado com sucesso",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AuthResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": ["Auth"],
        "summary": "Logout",
        "description": "Invalida o token atual do usuário.",
        "operationId": "logout",
        "responses": {
          "204": { "description": "Logout realizado com sucesso" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/users": {
      "get": {
        "tags": ["Users"],
        "summary": "Listar usuários",
        "description": "Retorna uma lista paginada de usuários.",
        "operationId": "getUsers",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 1 },
            "description": "Número da página"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 20, "maximum": 100 },
            "description": "Itens por página"
          },
          {
            "name": "search",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Busca por nome ou e-mail"
          },
          {
            "name": "role",
            "in": "query",
            "schema": { "$ref": "#/components/schemas/UserRole" },
            "description": "Filtrar por perfil"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de usuários",
            "headers": {
              "X-Total-Count": {
                "schema": { "type": "integer" },
                "description": "Total de registros"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/User" }
                    },
                    "pagination": { "$ref": "#/components/schemas/Pagination" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "tags": ["Users"],
        "summary": "Criar usuário",
        "operationId": "createUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserInput" },
              "example": {
                "name": "Gabriel Lima",
                "email": "gabriel@email.com",
                "password": "senha123",
                "role": "user"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Usuário criado",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/User" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "409": {
            "description": "E-mail já cadastrado",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": { "error": "Conflict", "message": "E-mail já está em uso." }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/users/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": { "type": "integer", "example": 1 },
          "description": "ID do usuário"
        }
      ],
      "get": {
        "tags": ["Users"],
        "summary": "Buscar usuário por ID",
        "operationId": "getUserById",
        "responses": {
          "200": {
            "description": "Usuário encontrado",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/User" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "tags": ["Users"],
        "summary": "Atualizar usuário",
        "operationId": "updateUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserInput" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Usuário atualizado",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/User" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "tags": ["Users"],
        "summary": "Deletar usuário",
        "operationId": "deleteUser",
        "responses": {
          "204": { "description": "Usuário removido" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id":        { "type": "integer", "example": 1 },
          "name":      { "type": "string",  "example": "Gabriel Lima" },
          "email":     { "type": "string",  "example": "gabriel@email.com" },
          "role":      { "$ref": "#/components/schemas/UserRole" },
          "createdAt": { "type": "string", "format": "date-time", "example": "2025-01-15T10:30:00Z" },
          "updatedAt": { "type": "string", "format": "date-time", "example": "2025-03-01T08:00:00Z" }
        }
      },
      "UserInput": {
        "type": "object",
        "required": ["name", "email", "password"],
        "properties": {
          "name":     { "type": "string",  "minLength": 2 },
          "email":    { "type": "string",  "format": "email" },
          "password": { "type": "string",  "minLength": 6, "writeOnly": true },
          "role":     { "$ref": "#/components/schemas/UserRole" }
        }
      },
      "UserRole": {
        "type": "string",
        "enum": ["admin", "user", "viewer"],
        "example": "user"
      },
      "LoginInput": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email":    { "type": "string", "format": "email" },
          "password": { "type": "string" }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "token":     { "type": "string", "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..." },
          "expiresIn": { "type": "integer", "example": 3600, "description": "Expiração em segundos" },
          "user":      { "$ref": "#/components/schemas/User" }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page":       { "type": "integer", "example": 1 },
          "limit":      { "type": "integer", "example": 20 },
          "total":      { "type": "integer", "example": 150 },
          "totalPages": { "type": "integer", "example": 8 }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error":   { "type": "string", "example": "Not Found" },
          "message": { "type": "string", "example": "Recurso não encontrado." }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Dados inválidos",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": { "error": "Bad Request", "message": "O campo 'email' é obrigatório." }
          }
        }
      },
      "Unauthorized": {
        "description": "Não autenticado",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": { "error": "Unauthorized", "message": "Token inválido ou expirado." }
          }
        }
      },
      "Forbidden": {
        "description": "Sem permissão",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": { "error": "Forbidden", "message": "Você não tem permissão para esta ação." }
          }
        }
      },
      "NotFound": {
        "description": "Não encontrado",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": { "error": "Not Found", "message": "Usuário não encontrado." }
          }
        }
      }
    }
  }
}
